<!-- <my-button
  [btnClass]="'blue-button'"
  [btnName]="'mybutton'"
  (clicked)="btnClick($event)"
></my-button>

<my-button
  [btnClass]="'red-button'"
  [btnName]="'mybutton2'"
  (clicked)="btnClick($event)"
></my-button>

<my-dropdown
  (changed)="showSelect($event)"
  [items]="[
    { text: 'izmir', value: 35 },
    { text: 'istanbul', value: 34 }
  ]"
></my-dropdown> -->

<!-- // cities = ['key':'izmir',value:'34']
<my-selector items="cities" (selected)="select($event)"></my-selector>

// selectorden birşey seçince seçinlen şehir alert ile gösterelim -->

<!-- <app-todos></app-todos> -->

<!-- <a routerLink="todos">Todos Page</a> -->

<!-- router outlet ile render body yapıyoruz -->

<!-- <router-outlet></router-outlet> -->

<app-layout></app-layout>
